<form {{action "save" on="submit"}}>

	<div class="form-table">
	   <div class="form-row">
	      <div class="ember-view form-field">
	         <label class="form-field__label" for="name">Name</label>
	         <div class="form-field__content">
	            {{input type='text' 
					class='form-field__input' 
					id="name" 
					placeholder="Item Name" 
			        required="required"}}
	         </div>
	      </div>
	   </div> 
	   <div class="form-row">
	      <div class="ember-view form-field">
	         <label class="form-field__label" for="sku">SKU</label>
	         <div class="form-field__content">
	            {{input type='text' 
					class='form-field__input' 
					id="sku" 
					placeholder="SKU" }}
	         </div>
	      </div>
	   </div> 
	   <div class="form-row">
	      <div class="ember-view form-field">
	         <label class="form-field__label" for="price">Price</label>
	         <div class="form-field__content">
	            {{input type='number' 
					class='form-field__input' 
					id="price" 
					min="0"
					step=0.01
					placeholder="Price" 
			        required="required" 
			        pattern="([0-9]+)(.[0-9]{2}+|)"}}
	         </div>
	      </div>
	   </div>

	   <div class="form-row">
	      <div class="ember-view form-field">
	         <label class="form-field__label" for="quantity">Quantity</label>
	         <div class="form-field__content">
	            {{input type='number' 
					class='form-field__input' 
					id="quantity" 
					placeholder="Quantity" 
					pattern="[0-9]+" 
			        required="required" 
			        title="Please only enter a whole number of 0 or greater"}}
	         </div>
	      </div>
	   </div>

	   <div class="form-row">
	      <div class="ember-view form-field">
	         <label class="form-field__label" for="tax">Tax</label>
	         <div class="form-field__content">
	            {{input type='text' 
					class='form-field__input' 
					id="tax" 
					placeholder="Tax" 
					pattern="0.[0-9]+" 
					value=store.tax
					step=0.01
			        required="required" 
			        title="Please only enter decimal value less than 1. For instance, '0.07' for 7%."}}
	         </div>
	      </div>
	   </div>    

	   <div class="form-row">
	      <div class="ember-view form-field">
	         <label class="form-field__label" for="barcode">Barcode</label>
	         <div class="form-field__content">
	            {{input type='text' 
					class='form-field__input' 
					id="barcode"
					placeholder="Barcode" }}
	         </div>
	      </div>
	   </div>        
	</div>

	{{input type='submit' name="submit" value="Save" placeholder='Save'}}

	<input type="button" value="Cancel" {{action 'cancel'}}>
	</form>