<td>{{input type='text' class='' id="name" value=name placeholder="Name" }}</td>
<td>{{input type='text' class='' id="sku" value=sku placeholder="SKU" }}</td>
<td>{{input type='text' class='' id="price" value=price placeholder="Price" }}</td>
<td>{{input type='text' class='' id="quantity" value=quantity placeholder="Quantity" }}</td>
<td>{{input type='text' class='' id="tax" value=tax placeholder="Tax" }}</td>
<td>{{input type='text' class='' id="barcode" value=barcode placeholder="Barcode" }}</td>
<input type="submit" name="submit" placeholder="Save" {{action 'submit'}}>
