<form {{  action 'signUp' on='submit'}}>
  <div class="signup-form-fields">
        <div>
            <!-- Email -->
            {{input type='email'
                id='email'
                class='input-box' 
                value=email 
                placeholder='Email' 
                required="required"}}<br />
            <!-- First name -->
            {{input type='text' 
                id='firstName'
                class='input-box' 
                pattern="[a-zA-z]+" 
                value=firstName placeholder='First Name' 
                required="required" 
                title="Please only use alphabetic characters"}}<br />
            <!-- Last Name -->
            {{input type='text' 
                id='lastName'
                class='input-box' 
                pattern="[a-zA-z]+" 
                value=lastName 
                placeholder='Last Name' 
                required="required" 
                title="Please only use alphabetic characters"}}<br />

            <!-- Business Name -->
            {{input type='text' 
                id='storename'
                class='input-box' 
                pattern="[a-zA-z0-9 -'!]+" 
                value=storename 
                placeholder='Business Name' 
                required="required" 
                title="Please only use alphabetic characters"}}<br />
            
        </div>
        <div>
        	<!-- Business Phone -->
            {{input-mask type='tel' 
                id='phone'
                class='input-box' 
                mask="(999) 999-9999" 
                type="tel" 
                pattern="[\(]\d{3}[\)][\s]\d{3}[\-]\d{4}" 
                value=phone 
                placeholder='Business Phone' }}

            <!-- Business Address -->
            {{place-autocomplete-field
                value=address
                placeholder="Business Address"
                required="required"
                disable=false
                handlerController= this
                inputClass= 'input-box address-box'
                focusOutCallback='done' 
                placeChangedCallback='placeChanged' 
                restrictions=restrictions
            }}
            
            {{!-- 
            {{input type='text' 
                id='address'
                class='input-box' 
                value=address 
                placeholder='Address' 
                required="required"}} --}}
            <!-- Password -->
            {{input type='password' 
                id="password"
                class='input-box'
                pattern=".{6,}"   
                value=password 
                placeholder='Password' 
                required="required" 
                title="Please enter a password that's at least 6 characters long"}}<br />
            <!-- Password Confirm -->
            {{input type='password' 
                id="passwordConfirm" 
                class='input-box' 
                pattern=".{6,}" 
                value=passwordConfirm 
                placeholder='Password Confirm' 
                required="required" 
                title="Please enter a password that's at least 6 characters long"}}<br />
            <p>
                We take your privacy very seriously and 
                will never share you personal information ever. 
            </p>
        </div>
        
  </div>
  {{input type='submit' class='button-gradient-square' value="Sign up" placeholder='Signup'}}
</form>