<div class="product-actions">
	{{#link-to 'business.portal.store.products.add' storeId}}
	<button class="portal-button">
		Add Product
	</button>
	{{/link-to}}
</div>
<table class="items-table" id="scrollme">
	<tr class="items-table-header">
		<th style="text-align:left;">Name</th>
		<th style="text-align:right;">Price</th>
	</tr>

	{{outlet}}
	{{#if currentlyLoading}}
		{{loading-animation}}
	{{else}}
		{{#each model as |product|}}
			{{#link-to "business.portal.store.products.show" storeId product}}
				<tr class="product-table-row">
				    <td class="product-table-data">{{ product.name }}</td>
				    <td class="product-table-data">${{ product.price }}</td>
			  	</tr>
		  	{{/link-to}}
		{{else}}
		Please add more products<br />
		{{/each}}
	{{/if}}
</table>