{{#link-to "business.portal.store.pastorders" model.id}}Past Orders{{/link-to}}
{{#link-to "business.portal.store.products" model.id}}Products{{/link-to}}

<h1>{{model.uid}}</h1>
<h1>{{model.address}}</h1>
<h1>{{model.name}}</h1>
<h1>{{model.owner}}</h1>
<h1>{{model.phone}}</h1>
<h1>{{model.tax}}</h1>
