<div id="dont-flex">
	{{#unless activeModel}}
		{{infinite-table model=model.products storeId=model.store.id loadMore="loadMore" activeModel=activeModel currentlyLoading=currentlyLoading}}
	{{else}}
		{{#if activeModel.id}}

			{{update-product activeModel=activeModel storeId=model.store.id}}
		{{else}}
			{{add-product currentStore=model.store}}
		{{/if}}
	{{/unless}}
</div>
