<div id="dont-flex">
	{{#unless activeModel}}
		{{infinite-table model=model storeId=storeId loadMore="loadMore" activeModel=activeModel currentlyLoading=currentlyLoading}}
	{{else}}
		{{#if activeModel.id}}
			{{update-product activeModel=activeModel storeId=storeId}}
		{{else}}
			{{add-product storeId=storeId}}
			{{log storeId}}
		{{/if}}
	{{/unless}}
</div>
