<section id="business-portal-background">
    <nav class="business-portal-nav blue-gradient-navigation-background">
        <div class="business-portal-nav-container">
            <div class="business-portal-personal-info">
                <span class="business-portal-name">{{session.currentUser.email}}</span><br />
                <span class="business-portal-signout"{{action "signOut"}}>Sign Out</span><br />
            </div>

            <div class="business-portal-home">
                {{#link-to "business.portal" }}
                    <span class="business-portal-nav-heading">
                        Home
                    </span>
                {{/link-to}}
            </div>

            <div class="business-portal-links">
                <ul class="store-list-links">
                {{#each model as |store|}}
                    <li class="business-portal-links-store">
                        <span class="business-portal-nav-heading">
                            {{store.name}}
                        </span><br />
                        <ul>
                            <li>{{#link-to 'business.portal.store' store.id}}
                                    Settings
                                {{/link-to}}
                            </li>
                            <li>
                                {{#link-to 'business.portal.store.products' store.id}}
                                    Products
                                {{/link-to}}
                            </li>
                            <li>
                                {{#link-to 'business.portal.store.pastorders' store.id}}
                                    Sales
                                {{/link-to}}
                            </li>
                        </ul>
                    </li>
                {{/each}}
                </ul>
            </div>
        </div>
    </nav>

    <article class="business-portal-contents">
        {{outlet}}
    </article>

</section>


{{!-- <section id="dashboard">
    <div id="dashboard-top">
        <div id="dashboard-button">
            <div id="dashboard-hamburger">
                {{dashboard-toggle}}
            </div>
            <div id="dashboard-hamburger-title">
                <p id="hamburger-title">Dashboard</p>
            </div>
        </div>
        <div id="dashboard-push">
        </div>
        <div id="dashboard-user">
            <div id="dashboard-user-info">
                <p id="dashboard-hello">Hello</p>
                <p id="dashboard-uid">{{model.firstname}}!</p>
            </div>
            <div id="dashboard-user-picture">
                <img src={{model.profileimage}} height="80px" width="80px"/>
            </div>
        </div>
    </div>
    <div id="dashboard-container">
        <div class="sidebar">
            <p id="dashboard-account">Account</p>
            <div id="dashboard-links">
                <div id="dashboard-dot-image">
                    <img id="dashboard-dots" src="/assets/images/dashboard-line.png" width="1px" height="76px"/>
                </div>
                <div id="sidebar-links">
                    <div id="links">
                    {{#link-to "business.portal" }}Home{{/link-to}}
                    {{#if menuDisplay}}
                        {{#link-to "business.portal.store.pastorders" menuDisplay}}Past Orders{{/link-to}}
                    {{/if}}
                        <a href="" {{action 'signOut'}}>Sign Out</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="receipt-content">
            {{outlet}}
        </div>
    </div>
</section> --}}