{{navigation-bar session=session}}
<div class="slayed-background password-container">
	<div class="password-reset-form">
		<div class="success">Email sent!</div>
		<div class="error">Username not in the database</div>
		<h1>Forgot your password?</h1>
		<form {{action "resetPassword" on="submit"}}>
			{{input type='email' class='input-box' value=email placeholder="Email Address"}}
		    {{input type='submit' class='input-box button-gradient-square' value="Reset Password"}}    
		</form>
	</div>
</div>

{{main-footer}}
